@using InsureAnts.Application.Features.Clients
@using InsureAnts.Domain.Entities
@using InsureAnts.Web.Components.Shared
@using InsureAnts.Domain.Enums;

@inherits AppDialogAddFormComponent<AddClientCommand, Client>

<MudDialog>
	<DialogContent>
		<div Style="display: flex; align-items: center; width: 100%; margin-bottom: 20px">
			<MudText Typo="Typo.h6">@Title</MudText>
		</div>

		<MudForm @ref="Form" Model="@Command">
			<MudStack>
				<MudTextField @bind-Value="Command.FirstName" Label="First Name" Required RequiredError="Name is required." />
				<MudTextField @bind-Value="Command.LastName" Label="Last Name" Required RequiredError="Last Name is required." />
				<MudTextField @bind-Value="Command.Email" InputMode="InputMode.email" InputType="InputType.Email" Label="Email" Required RequiredError="Email is required." />
				<MudTextField @bind-Value="Command.Password" InputType="InputType.Password" Label="Password" Required RequiredError="Password is required." />
				<MudTextField @bind-Value="Command.Phone" Mask="@(new PatternMask("0000000000"))" InputMode="InputMode.tel" InputType="InputType.Telephone" Label="Phone" Required RequiredError="Phone is required." />
				<MudTextField @bind-Value="Command.Address" Label="Address" Required RequiredError="Address is required." />
				<MudTextField @bind-Value="Command.DateOfBirth" Format="yyyy/MM/dd" InputType="InputType.Date" Label="Date of birth" Required RequiredError="Date of birth" />
				<MudSelect T="Gender" @bind-Value="Command.Gender">
					@foreach (var gender in Enum.GetValues<Gender>())
					{
						<MudSelectItem Value="gender">@gender</MudSelectItem>
					}
				</MudSelect>
			</MudStack>
		</MudForm>

	</DialogContent>
	<DialogActions>
		<div class="d-flex justify-space-between mud-width-full">
			<MudButton OnClick="Cancel">Cancel</MudButton>
			<MudButton Color="Color.Primary" OnClick="Submit">Add</MudButton>
		</div>
	</DialogActions>
</MudDialog>

@code {
	[Parameter]
	public string? Title { get; set; }
}
