<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="/" />
	<link rel="stylesheet" href="app.css" />
	<link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
	<link href="InsureAnts.Web.styles.css" rel="stylesheet">
	<ImportMap />
	<link rel="icon" type="image/png" href="favicon.png" />
	<HeadOutlet @rendermode="@RenderMode" />
</head>

<body>
	<Routes @rendermode="@RenderMode" />
	<script src="_framework/blazor.web.js"></script>
	<script src="/scripts/keyboardBindings.js"></script>
	<script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>
</html>

@code
{
	private static readonly InteractiveServerRenderMode RenderMode = new(prerender: false);
}
