@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider MaxWidth="MaxWidth.Medium" FullWidth="true" CloseOnEscapeKey="true" />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout>
	<MudAppBar Elevation="1" Color="Color.Primary">
		<MudLink Color="Color.Inherit" Href="/" Underline="Underline.None" Style="white-space:nowrap; padding-right:15px">
			<MudText Typo="Typo.h5">InsureAnts</MudText>
		</MudLink>
		<div class="d-flex mud-width-full">
			<div class="d-flex justify-content-center align-items-center gap-1 w-100 nav-item">
				<NavLink href="/clientsOverview">
					<MudText Class="navbar-text tab-text">Clients</MudText>
				</NavLink>

				<NavLink href="/dealsOverview">
					<MudText Class="navbar-text tab-text">Deals</MudText>
				</NavLink>

				<NavLink href="/insurancesOverview">
					<MudText Class="navbar-text tab-text">Insurances</MudText>
				</NavLink>

				<NavLink href="/insuranceTypesOverview">
					<MudText Class="navbar-text tab-text">Insurances Types</MudText>
				</NavLink>

				<NavLink href="/packagesOverview">
					<MudText Class="navbar-text tab-text">Packages</MudText>
				</NavLink>
				<NavLink href="/supportTicketsOverview">
					<MudText Class="navbar-text tab-text">Tickets</MudText>
				</NavLink>
			</div>
		</div>
	</MudAppBar>
	<MudMainContent>
		<div class="pa-4">
			@Body
		</div>
	</MudMainContent>
</MudLayout>
<MudButton OnClick=AddSupportTicket
Icon="@Icons.Material.Filled.Chat"
Color="Color.Primary"
Style=" position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999;" />
@code
{
}