@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider MaxWidth="MaxWidth.Medium" FullWidth="true" CloseOnEscapeKey="true" />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout>
	<MudAppBar Elevation="1" Color="Color.Primary">
		<MudLink Color="Color.Inherit" Href="/" Underline="Underline.None" Style="white-space:nowrap; padding-right:15px">
			<MudText Typo="Typo.h5">InsureAnts</MudText>
		</MudLink>

		<div class="d-flex justify-content-center align-items-center gap-1 w-100 nav-item">
			<NavLink href="/clientsOverview">
				<MudText Class="navbar-text tab-text">Clients</MudText>
			</NavLink>

			<NavLink href="/dealsOverview">
				<MudText Class="navbar-text tab-text">Deals</MudText>
			</NavLink>

			<NavLink href="/insurancesOverview">
				<MudText Class="navbar-text tab-text">Insurances</MudText>
			</NavLink>

			<NavLink href="/insuranceTypesOverview">
				<MudText Class="navbar-text tab-text">Insurances Types</MudText>
			</NavLink>

			<NavLink href="/packagesOverview">
				<MudText Class="navbar-text tab-text">Packages</MudText>
			</NavLink>
		</div>

		<!-- Authorization UI -->
		<AuthorizeView>
			<Authorized Context="auth">
				<MudSpacer />
				<MudText Class="me-2">Hello, @auth.User.Identity?.Name!</MudText>
				<MudButton Variant="Variant.Outlined" Color="Color.Inherit" OnClick="Logout">Logout</MudButton>
			</Authorized>
			<NotAuthorized>
				<MudSpacer />
				<MudButton Variant="Variant.Outlined" Color="Color.Inherit" Href="Identity/Account/Login">Login</MudButton>
				<MudButton Variant="Variant.Outlined" Color="Color.Inherit" Href="Identity/Account/Register">Register</MudButton>
			</NotAuthorized>
		</AuthorizeView>
	</MudAppBar>

	<MudMainContent>
		<div class="pa-4">
			@Body
		</div>
	</MudMainContent>
</MudLayout>

@code {

	[Inject] NavigationManager Navigation { get; set; } = default!;

	private void Logout()
	{
		Navigation.NavigateTo("Identity/Account/Logout", forceLoad: true);
	}
}
