
/* Utility classes */

.w-100 {
    width: 100%;
}

.white-space-pre-wrap {
    white-space: pre-wrap;
}

.bold {
    font-weight: bold;
}

.fill-space {
    height: 100%;
    width: 100%;
}

.custom-row {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

    .custom-row:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

/* MudBlazor overrides */
.mud-table-container {
    overflow-y: unset !important;
}

.mud-breadcrumbs {
    padding: 0px 0px 8px 0px !important;
}

.mud-toggle-item .mud-typography-body1 {
    font-size: 0.7rem !important;
}


:root {
    --mud-appbar-height: 50px !important;
    --mud-internal-toolbar-height: 50px !important;
}

    :root .mud-toolbar-gutters {
        padding-left: 16px;
        padding-right: 16px;
    }
