@using InsureAnts.Application.Features.Deals
@using InsureAnts.Domain.Entities
@using InsureAnts.Web.Components.Shared
@inherits AppDialogEditFormComponent<EditDealCommand, Deal>

<MudDialog>
	<DialogContent>
		<div Style="display: flex; align-items: center; width: 100%; margin-bottom: 20px">
			<MudText Typo="Typo.h6">@Title</MudText>
		</div>

		<MudForm @ref="Form" Model="@Command">
			<MudStack>
				<MudTextField MaxLength="100" @bind-Value="Command.Name" Label="Name" Required RequiredError="Name is required." />
				<MudTextField MaxLength="500" @bind-Value="Command.Description" Label="Description" Required RequiredError="Discount is required." />
				<MudNumericField HideSpinButtons Min="1" @bind-Value="Command.DiscountPercentage" Label="Discount" Required RequiredError="Discount is required." />
				<MudNumericField HideSpinButtons Min="1" @bind-Value="Command.DurationInDays" InputMode="InputMode.numeric" Label="Duration (days)" Required RequiredError="Duration is required." />
			</MudStack>
		</MudForm>

	</DialogContent>
	<DialogActions>
		<div class="d-flex justify-space-between mud-width-full">
			<MudButton OnClick="Cancel">Cancel</MudButton>
			<MudButton Color="Color.Primary" OnClick="Submit">Save</MudButton>
		</div>
	</DialogActions>
</MudDialog>

@code {
	[Parameter]
	public string? Title { get; set; }
}
