@using InsureAnts.Application.Features.InsuranceTypes
@using InsureAnts.Application.Features.Insurances
@using InsureAnts.Domain.Entities
@using InsureAnts.Web.Components.Shared
@using InsureAnts.Domain.Enums;

@inherits AppDialogEditFormComponent<EditInsuranceCommand, Insurance>

<MudDialog>
	<DialogContent>
		<div Style="display: flex; align-items: center; width: 100%; margin-bottom: 20px">
			<MudText Typo="Typo.h6">@Title</MudText>
		</div>

		<MudForm @ref="Form" Model="@Command">
			<MudStack>
				<MudSelect T="AvailabilityStatus" Label="Status" @bind-Value="Command.Status">
					@foreach (var status in Enum.GetValues<AvailabilityStatus>())
					{
						<MudSelectItem T="AvailabilityStatus" Value="status">@status.ToString()</MudSelectItem>
					}
				</MudSelect>
				<MudTextField @bind-Value="Command.Name" Label="Name" Required RequiredError="Name is required." />
				<MudTextField @bind-Value="Command.Description" Label="Description" Required RequiredError="Description is required." />
				<MudSelect T="InsuranceType" Label="Insurance Type" @bind-Value="Command.InsuranceType">
					@foreach (var insuranceType in _insuranceTypes)
					{
						<MudSelectItem T="InsuranceType" Value="insuranceType">@insuranceType.Name</MudSelectItem>
					}
				</MudSelect>
				<MudTextField @bind-Value="Command.Premium" InputMode="InputMode.numeric" Label="Premium" Required RequiredError="Premium is required." />
				<MudTextField @bind-Value="Command.Coverage" InputMode="InputMode.numeric" Label="Coverage" Required RequiredError="Coverage is required." />
				<MudTextField @bind-Value="Command.DurationInDays" InputMode="InputMode.numeric" Label="Duration (days)" Required RequiredError="Duration is required." />
			</MudStack>
		</MudForm>

	</DialogContent>
	<DialogActions>
		<div class="d-flex justify-space-between mud-width-full">
			<MudButton OnClick="Cancel">Cancel</MudButton>
			<MudButton Color="Color.Primary" OnClick="Submit">Add</MudButton>
		</div>
	</DialogActions>
</MudDialog>

@code {
	[Parameter]
	public string? Title { get; set; }

	private List<InsuranceType> _insuranceTypes = [];

	protected override async Task OnInitializedAsync()
	{
		var response = await Mediator.Send(new GetInsuranceTypesQuery());
		_insuranceTypes = response.Items.ToList();
	}
}
